body.color-black {
    //background-image: url('https://c1.staticflickr.com/1/699/32361674505_1e1a1d56bf_o.jpg');// TODO replace with original
    background-image: url('http://www.graphixcreations.com/twitter-backgrounds/black-light-background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table.table {
    &.theme-alt {
        background-color: rgba(19, 19, 19, .8);
    }

    td {
        input.form-control {
            margin: 0;
        }
    }
}